h1 {
    color: rgba(95, 17, 3, 0.616);
    /*     border-color: purple;
    border-width: 5px;
    border-style: dashed; */
    border: purple 5px dashed;
}

h4 {
    background-color: rgba(185, 16, 53, 0.315);
}

body {
    background: rgba(122, 77, 77, 0.479);
    /* background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&i);
    background-size: cover;
    background-repeat: no-repeat; */
}